@charset "utf-8";

body {
    font: normal 18pt arial;
    text-align: left; 
    background-color: rgba(6, 6, 233, 0.753);
    color: white;
    
}

body h1 {
    font-size: 40px;
}



input {
    font: normal 18pt arial;
    width: 114px;
}

div#res {
    text-align: left; 
    margin-top: 20px;
}

/* Media Query para telas menores, como telefones */
@media screen and (max-width: 600px) {
    body, h1, div#res {
        text-align: center; /* Centralizar em telas menores */
    }

    input {
        width: 100px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }



    header{
        width:100%;
        margin-top: 10px;
    }
}

